body{
    background-color: #caf0f8;
}

#subline{
    margin: 0 auto;
    font-size: medium;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 35px;
}

#disney_logo{
    width: 20%;
    height: 100px;
    padding-left: 30px;
    top: 30px;
}

.register{
    padding-left: 83%; 
}

#input1{
    background-color: #0077b6;
    color: black;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 10px;
}

#input1:hover{
    font-style: italic;
    cursor: pointer;
}

.buttons{
    padding-left: 90px;
    padding-right: 90px;
}

#button1 {
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    letter-spacing: 7px;
    border: none;
    margin-right: 50px;
    margin-left: 90px;
}

#button2 {
    background-color: #fc9b00;
    color: white;
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    letter-spacing: 7px;
    border: none;
    margin-right: 50px;
    margin-left: 120px;
}

#button3 {
    background-color: red;
    color: white;
    width: 200px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    letter-spacing: 7px;
    border: none;
    margin-right: 10px;
    margin-left: 150px;
}

#button1:hover{
    font-size: x-large;
    font-weight: bolder;
    box-shadow: 0 0.7em 0.5em -0.4em;
    color: #e09200;
    cursor: pointer;
}
#button2:hover{
    font-size: x-large;
    font-weight: bolder;
    box-shadow: 0 0.7em 0.5em -0.4em;
    color: red;
    cursor: pointer;
}
#button3:hover{
    font-size: x-large;
    font-weight: bolder;
    box-shadow: 0 0.7em 0.5em -0.4em;
    color: #e09200;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.wallpaper img{
    width: 30%;
    height: 280px;
    margin: calc(10%/6);
}

.Mission {
    padding: 0 330px;
    text-align: center;
    width: 50%;
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: medium;
    color: rgb(245, 91, 20);
    word-spacing: 2px;
    line-height: 2rem;
    border-bottom: 2px solid black;
}

#mission{
    font-size: xx-large;
    font-weight: bolder;
    color: #fa010a;
    letter-spacing: 2px;
    text-decoration: underline;
}

h2{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}

.links{
    font-weight: bold;
    font-size: 30px;
}

.links:hover{
    font-weight: bolder;
    font-size: xx-large;
}

#Hong-Kong{
    padding-left: 250px;
    margin-left: 70px;
    width: 500px;
    height: 300px;
    background-image: url("hong_kong_disneyland.jpg")
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    text-align: center;
    line-height: 30px;
    color: #14213d;
}

#Paris{
    margin-left: 250px;
    padding-right: 470px;
    width: 550px;
    height: 300px;
    background-image: url("disneyland-paris.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    text-align: center;
    line-height: 30px;
    color: #14213d;
}

#World{
    padding-left: 550px;
    margin-left: 70px;
    width: 500px;
    height: 300px;
    background-image: url("Walt-Disney-World.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    text-align: center;
    line-height: 30px;
    color: #14213d;
}

h3{
    text-align: left;
    text-decoration: underline;
    font-size: 30px;
    padding-left: 50px;
}

.disneyland_plans{
    border-bottom: 2px solid black;
}

#history_mickey{
    color: black;
    background-color: #acf2ff;
    margin-left: 50px;
    width: 89%;
}

#history_mickey div{
    margin-left: 60px;
    width: 500px;
    height: 300px;
    display: inline-block;
}

#history_mickey img{
    width: 500px;
    height: 300px;
    position: relative;
    top: 35px;
    right: 5px;
}

#history_mickey a{
    color: blue;
}

#history_mickey a:hover{
    color: blue;
    text-decoration: underline;  
    box-shadow: 0 0.4em 0.5em -0.4em;     
}

